/* Estilização da página de login */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('Images/meelika-marzzarella-BOjIwVVtu-8-unsplash.jpg'); /* Altere para o caminho da sua imagem */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}